In [2]:
%reload_ext autoreload

%autoreload 2

In [3]:
iq_quant_table = "Y:/User/Constantin/iq_directlfq_comparison/iq_formatted_quant_table_bruderer_15.tsv"
iq_proteins = "Y:/User/Constantin/iq_directlfq_comparison/iq_formatted_proteins_bruderer_15.tsv"
iq_samples = "Y:/User/Constantin/iq_directlfq_comparison/iq_formatted_sample_bruderer_15.tsv"
iq_ions = "Y:/User/Constantin/iq_directlfq_comparison/iq_formatted_ions_bruderer_15.tsv"

In [4]:
import pandas as pd

quant_df = pd.read_csv(iq_quant_table, sep = "\t")
sample_df = pd.read_csv(iq_samples, sep = "\t").rename(columns={'V1' : 'sample_list'})

display(quant_df)
display(sample_df)

         protein_list  sample_list      id        quant
0                   1            1       1  1750.157715
1                   1            1       2  1747.151489
2                   1            1       3   408.697601
3                   1            1       4   431.622864
4                   1            1       5  1749.627075
...               ...          ...     ...          ...
3390564          3544           24  139860  1278.383000
3390565          3544           24  139861    84.356860
3390566          3544           24  139862  1011.941000
3390567          3544           24  139863  2958.586000
3390568          3544           24  139864  1173.470000

[3390569 rows x 4 columns]

                           sample_list
0   B_D140314_SGSDSsample1_R01_MHRM_T0
1   B_D140314_SGSDSsample1_R02_MHRM_T0
2   B_D140314_SGSDSsample1_R03_MHRM_T0
3   B_D140314_SGSDSsample2_R01_MHRM_T0
4   B_D140314_SGSDSsample2_R02_MHRM_T0
5   B_D140314_SGSDSsample2_R03_MHRM_T0
6   B_D140314_SGSDSsample3_R01_MHRM_T0
7   B_D140314_SGSDSsample3_R02_MHRM_T0
8   B_D140314_SGSDSsample3_R03_MHRM_T0
9   B_D140314_SGSDSsample4_R01_MHRM_T0
10  B_D140314_SGSDSsample4_R02_MHRM_T0
11  B_D140314_SGSDSsample4_R03_MHRM_T0
12  B_D140314_SGSDSsample5_R01_MHRM_T0
13  B_D140314_SGSDSsample5_R02_MHRM_T0
14  B_D140314_SGSDSsample5_R03_MHRM_T0
15  B_D140314_SGSDSsample6_R01_MHRM_T0
16  B_D140314_SGSDSsample6_R02_MHRM_T0
17  B_D140314_SGSDSsample6_R03_MHRM_T0
18  B_D140314_SGSDSsample7_R01_MHRM_T0
19  B_D140314_SGSDSsample7_R02_MHRM_T0
20  B_D140314_SGSDSsample7_R03_MHRM_T0
21  B_D140314_SGSDSsample8_R01_MHRM_T0
22  B_D140314_SGSDSsample8_R02_MHRM_T0
23  B_D140314_SGSDSsample8_R03_MHRM_T0

In [7]:
import directlfq.benchmarking as lfq_benchmark

scale_number = 100
input_scaler = lfq_benchmark.ScaledDFCreatorIQFormat(quant_df=quant_df, sample_list_df=sample_df, desired_number_of_samples = scale_number)

display(input_scaler.scaled_quant_df)
display(input_scaler.scaled_sample_list_df)

          protein_list      id        quant  sample_list
0                    1       1  1750.157715            1
1                    1       2  1747.151489            1
2                    1       3   408.697601            1
3                    1       4   431.622864            1
4                    1       5  1749.627075            1
...                ...     ...          ...          ...
14126029          3544  139857  2457.714000          100
14126030          3544  139858  1494.854000          100
14126031          3544  139859  1167.911000          100
14126032          3544  139860  1360.897000          100
14126033          3544  139861   582.458600          100

[14126034 rows x 4 columns]

                                         sample_list
0           B_D140314_SGSDSsample1_R01_MHRM_T0_AND_0
1           B_D140314_SGSDSsample1_R02_MHRM_T0_AND_0
2           B_D140314_SGSDSsample1_R03_MHRM_T0_AND_0
3           B_D140314_SGSDSsample2_R01_MHRM_T0_AND_0
4           B_D140314_SGSDSsample2_R02_MHRM_T0_AND_0
..                                               ...
95          B_D140314_SGSDSsample8_R03_MHRM_T0_AND_3
96  B_D140314_SGSDSsample1_R01_MHRM_T0_AND_remainder
97  B_D140314_SGSDSsample1_R02_MHRM_T0_AND_remainder
98  B_D140314_SGSDSsample1_R03_MHRM_T0_AND_remainder
99  B_D140314_SGSDSsample2_R01_MHRM_T0_AND_remainder

[100 rows x 1 columns]

In [8]:
input_scaler.scaled_quant_df.to_csv(f"{iq_quant_table}.scaled_to_{scale_number}.tsv", sep = "\t", index = None)
input_scaler.scaled_sample_list_df.to_csv(f"{iq_samples}.scaled_to_{scale_number}.tsv", sep = "\t", index = None)